<?xml version = "1.0" encoding = "UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans.xsd
                         http://www.springframework.org/schema/context
                         http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<!-- ################### Setter Injection ################### -->

	<bean id="battery" class="com.OnlineShoppingApp.Battery">
		<property name="productId" value="1"></property>
		<property name="productName" value="Battery"></property>
		<property name="price" value="10.0"></property>
		<property name="rechargeable" value="true"></property>
	</bean>
	<bean id="disc" class="com.OnlineShoppingApp.Disc">
		<property name="productId" value="2"></property>
		<property name="productName" value="Disc"></property>
		<property name="price" value="5.0"></property>
		<property name="capacity" value="700"></property>
	</bean>

</beans>
                         