<?xml version = "1.0" encoding = "UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans.xsd
                         http://www.springframework.org/schema/context
                         http://www.springframework.org/schema/context/spring-context-3.0.xsd">




	<!-- ################### Constructor Injection ################### -->

	<bean id="battery" class="com.OnlineShoppingApp.Battery">
		<constructor-arg name="productId" value="1" />
		<constructor-arg name="productName" value="Battery" />
		<constructor-arg name="price" value="10.0" />
		<constructor-arg name="rechargeable" value="true" />
	</bean>
	<bean id="disc" class="com.OnlineShoppingApp.Disc">
		<constructor-arg name="productId" value="2" />
		<constructor-arg name="productName" value="Disc" />
		<constructor-arg name="price" value="5.0" />
		<constructor-arg name="capacity" value="700" />
	</bean>

</beans>
                         